/* Frame chrome for FramedDialog: header, body, footer, close button. */
.neuroglancer-framed-dialog:focus-within {
  outline: none;
}

.neuroglancer-framed-dialog {
  padding: 0;
}

.neuroglancer-framed-dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #ccc;
  height: 2rem;
  margin-bottom: 1px;
}

.neuroglancer-framed-dialog-body {
  display: flex;
  padding: 1.5rem;
  overflow: auto;
}

.neuroglancer-framed-dialog-title {
  margin-right: auto;
  font-size: large;
  font-weight: bold;
  color: #333;
}

.neuroglancer-framed-dialog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 1.5rem;
  border-top: 1px solid #ccc;
  margin-top: 1px;
}

.neuroglancer-framed-dialog-close-button {
  cursor: pointer;
}

.neuroglancer-framed-dialog-close-icon svg {
  stroke: #141415;
  opacity: 0.6;
}

.neuroglancer-framed-dialog-close-icon:hover svg {
  stroke: white;
  opacity: 1;
}
